{% extends 'journal/base.html' %}
{% load static %}

{% block content %}
<br />
<div class='journal-container'>
<div class="journal-entry-options">
  <a href="{% url 'journal:entry_edit' pk=entry.pk %}">
    <img src="{% static 'journal/edit_entry.png' %}">
  </a>
  <a href="#" onClick="document.getElementById('delete_entry{{ entry.id }}').submit()">
    <img src="{% static 'journal/delete_entry.png' %}">
  </a>
</div>

  <br />
  <br />

<div class='entry-detail-container'>
  <h1 class="entry-detail-title">{{ entry.title }}</h1>
  <h5 class="entry-detail-date">Published on {{ entry.clean_date }}</h5>

  <p class="entry-content">
    {{ entry.content|linebreaks }}
  </p>

  <form id="delete_entry{{ entry.id }}" method="POST" action="{% url 'journal:entry_delete' entry.id %}">
    {% csrf_token %}
    <input type="hidden">
  </form>
</div>
</div>

<br />
<br />
{% endblock %}
