{% extends 'journal/base.html' %}

{% block content %}
<div class="entry-new-container">
  <h1 class="entry-new-title">New Entry</h1>

  <div class="error-block">
	{% if error %}
		{{ error }}
	{% else %}
		<br />
	{% endif %}
	</div>
  <form method="POST" action="{% url 'journal:create' %}">
    {% csrf_token %}

    Title:
    <br />
    <input class="form-control" type="text" name="title" />
    <br />

    Content:
    <br />
    <textarea class="form-control" rows="5" cols="60" name="content"></textarea>
    <br />

    <div class="goal-edit-button text-center">
      <input type="submit" class="btn btn-primary" value="Post">
    </div>
  </form>
</div>
{% endblock %}
