{% extends 'journal/base.html' %}
{% load static %}

{% block content %}
<h1 class="journal-title">Journal</h1>
<div class='journal-container'>
	<div class="entry-new">
		<a class="new-entry-button" href="{% url 'journal:entry_new' %}"><img src="{% static 'journal/add_entry.png' %}"></a>
	</div>

	<br />
  {% for entry in entries %}
    <div class="journal-entry">
      <a class="entry-title" href="{% url 'journal:entry_detail' pk=entry.pk %}">{{ entry.title }}</a>

			<p class='entry-date'>Published on {{ entry.clean_date }}</p>
	    <p class="entry-content">{{ entry.show_summary|linebreaks }}</p>
    </div>
  {% endfor %}
	<br />
	<br />
</div>
{% endblock %}
